/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/


.signup {
    display: flex;
    flex-direction: column;
    background-color: #A8DCD9;
    max-width: 100vw;
    min-height: 100vh;
}

.signup h1 {
    font-size: 10vw;
    color: #566271;
    overflow: hidden;
}

.navbar,
.footer {
    background-color: #F26A21;
    font-family: "St Ryde Bold";
    color: #fff;
    font-size: 5vw;
    padding: 0 .75vh 0 2vh;
}

.navbar a:hover,
.footer a:hover,
.navbar a:focus,
.footer a:focus {
    opacity: 80%;
    text-decoration: none;
}


.jumbotron {
    background: transparent;
    align-content: center;
    text-align: center;
    flex-grow: 1;
}

.jumbotron img {
    height: 23vw;
    margin-bottom: 4px;
}

.footer {
    background-color: #F26A21;
    font-family: "St Ryde Bold";
    color: #fff;
    font-size: 5vw;
    padding: .75vh;
}

.footer a,
.navbar a {
    opacity: 50%;
    color: #fff;
}


.form-group {
    margin: 2vw auto;
    font-family: "St Ryde Light Italic";
    color: #566271;
    font-size: 1vw;
    line-height: 1.5vw;
    width: 50vw;
}

.form-control {
    margin-bottom: 2vh;
    height: 5vh;
}

.buttons {
    display: flex;
    font-family: "St Ryde Medium";
}

.form-control:hover,
.form-control:focus,
.form-control:active,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    border: 1px solid #78828f;
    box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25);
}

.btn:hover {
    background-color: #4d5967 !important;   
}

#log-in-button,
#sign-up-button {
    flex-grow: 1;
    background-color: #566271 ;
    border: none !important;
    padding-bottom: 5px;
}

#log-in-button {
    margin-right: 1vh;
}

#sign-up-button {
    margin-left: 1vh;
}