/*
FONTS 
    font-family: "St Ryde Light";
    font-family: "St Ryde Light Italic";
    font-family: "St Ryde Medium";
    font-family: "St Ryde Medium Italic";
    font-family: "St Ryde Bold";
    font-family: "St Ryde Bold Italic";

COLORS
    gray: #566271
    orange: #F26A21
    green: #C6D930
    blue: #A8DCD9
    red: #C44D58
*/

/* NAVIGATION ===================================== NAVIGATION */

.functional-navigation {
  padding: 0 .5em 0 2em;;
  background-color: #F26A21 !important;
  border-bottom: 5px solid white;
}

h6 {
  font-family: "St Ryde Medium";
  margin: .6em;
  font-size: 1.25em;
}

.functional-navigation a {
  color: #fff;
}

.functional-navigation img {
  height: 3.75vh;
  min-height: 30px;
  margin: .6em 0em .75em 0;
  opacity: 100% !important;
}

.horizontal-rule {
  height: 5px;
  background-color: white;
}

.nav-link {
  opacity: 50%;
  font-size: calc(.5em + 13px);
  color: #fff !important;
  max-height: calc(.5 * 3);
}

.navigation h6 span:hover {
  padding-bottom: 2px;
  border-bottom: 5px solid #C6D930;
}

.active span {
  opacity: 100% !important;
  color: #fff;
  border-bottom: 5px solid #C6D930;
      padding-bottom: 2px;

}

.navbar-toggler {
  margin: 1vh;
  border: none;
}

.navbar-toggler-icon {
  height: 1.5em;
  width: 1.5em;
  opacity: 75%;
  margin: 0 0 4px 0;
}

.navbar-toggler-icon:focus {
  border-radius: 5px;
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(75, 86, 99, .25) !important;
}

/* TOPNAV ============================================ TOPNAV */
.top-nav {
  padding: 0 .5em 0 2em;;
  background-color: #F26A21 !important;
  border-bottom: 5px solid white;
}

.top-nav a {
  opacity: 100% !important;
}

.top-nav img {
  height: 3.75vh;
  min-height: 30px;
  margin: .6em 0em .75em 0;
  opacity: 100% !important;
}

.horizontal-rule {
  height: 5px;
  background-color: white;
}

.nav-link {
  opacity: 50%;
  font-size: calc(.25em + 13px);
  color: #fff !important;
  max-height: calc(.5 * 3);
}

.navigation text:hover {
  opacity: 100% !important;
  border-bottom: 5px solid #C6D930;
}

.active {
  opacity: 100% !important;
  color: #fff;
}

.navbar-toggler {
  margin: 1vh;
  border: none;
}

.navbar-toggler-icon {
  height: 1.5em;
  width: 1.5em;
  opacity: 75%;
  margin: 0 0 4px 0;
}

.navbar-toggler-icon:focus {
  border-radius: 5px;
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(75, 86, 99, .25) !important;
}

.navbar-toggler:focus {
  border-radius: 5px;
  outline: none !important;
  border: none !important;
  box-shadow: 0 0 0 0.2rem rgba(75, 86, 99, .25) !important;
}

/* FOOTER ============================================ FOOTER */

a:hover {
  text-decoration: none;
}

.footer {
  background-color: #F26A21;
  font-family: "St Ryde Bold";
  color: #fff;
  padding: 0 .75vh 0 2vh;
  font-size: 5vh;
  border-top: 5px solid #fff;
}

.footer a:hover,
.footer a:focus {
  opacity: 80%;
  text-decoration: none;
}

.footer {
  background-color: #F26A21;
  font-family: "St Ryde Bold";
  color: #fff;
  padding: .75vh;
}

.footer a
{
  opacity: 50%;
  color: #fff;
}

/* UPLOAD PROJECT FORM ============================ UPLOAD PROJECT FORM */

.upload-project-form {
  background-color: #A8DCD9;
  width: 100vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a:hover {
  text-decoration: none;
}

.upload-project-form h1 {
  font-size: calc(4vw + 2em);
  color: #566271;
}

.vertical-center {
  margin:auto;
}

.jumbotron {
  background: transparent;
  text-align: center;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

/* .jumbotron img {
  height: 18vw;
  margin-bottom: 4px;
} */

.form {
  margin: 0;
  padding: 0;
}

.form-group,
.custom-file-input {
  margin: 0 auto;
  font-family: "St Ryde Light Italic";
  color: #566271;
  line-height: 1.5;
  width: 50vw;
  max-width: 30rem;
}

.form-group p{
  display: block;
}

.form-control,
.custom-file-input {
  height: 5vh;
  min-height: 1.5rem;
  font-size: 2vh !important;
}

.flex-input {
  display: flex;
}

.form-control:focus,
.form-control:active,
.form-control:focus-within,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
btn:focus-within,
.custom:focus
.custom-file-input:focus,
.custom-file-input:active,
.custom-file:focus,
.custom-file:active,
#custom-file:active,
#custom-file:focus {
  border: 1px solid #78828f !important;
  box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25) !important;
  outline: none !important;
}

.btn:hover {
  background-color: #3E4854 !important;   
}

#upload-project-button {
  background-color: #566271 ;
  border: none !important;
  height: 5vh;
  font-size: 2vh;
  line-height: 5vh;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "St Ryde Medium";
}

.text-links {
  font-family: "St Ryde light italic";
  margin-top: 2vh;
  font-size: 2vh;
  text-align: left;
  display: flex;
}