/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
    dark gray: #3E4854
    darker gray: #242C36
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/

/* LOGIN ====================================================== LOGIN */
.login {
    background-color: #A8DCD9;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.horizontal-rule {
    height: 5px;
    background-color: white;
}


a:hover {
    text-decoration: none;
}

.login h1 {
    font-size: 10vw;
    color: #566271;
}

.vertical-center {
    margin:auto;
    padding: 2rem 0 4rem 0;
}

.vertical-center img {
    margin-top: 2em;
}

.jumbotron {
    background: transparent;
    text-align: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    flex-grow: 1;
}

.jumbotron img {
    height: 20vh;
    margin-bottom: 4px;
}

.form-group {
    margin: 2vw auto;
    font-family: "St Ryde Light Italic";
    color: #566271;
    line-height: 1.5;
    width: 50vw;
    max-width: 30rem;
}

.form-group p {
    display: block;
}

.form-control {
    margin-bottom: 2vh;
    height: 5vh;
    font-size: 2vh !important;
    min-height: 1.25rem;
}

.form-control:focus,
.form-control:active,
.form-control:focus-within,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn:focus-within {
    border: 1px solid #78828f;
    box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25);
}

.btn:hover {
    background-color: #3E4854 !important;   
}

.buttons {
    display: flex;
}

#log-in-button,
#sign-up-button {
    flex-grow: 1;
    background-color: #566271 ;
    border: none !important;
    height: 5vh;
    font-size: 2vh;
    line-height: 5vh;
    padding: 0;
    font-family: "St Ryde Medium";
}

#log-in-button {
    margin-right: 2vh;
}

#sign-up-button {
    margin-left: 2vh;
}

.text-links {
    margin-top: 2vh;
    font-size: 2vh;
    text-align: left;
    display: flex;
}

.text-links p {
    flex: 1;
    color: #566271;
    margin-bottom: 2vh;
}

.text-links a p:hover {
    color: #3E4854;
}

/* 
---------------------------------------------
MEDIA QUERIES
---------------------------------------------
*/

@media only screen and (max-width: 768px) {

    .jumbotron img {
        height: 55vh;  
    }
}


/* SIGN UP ====================================================== SIGN UP */


.signup {
    background-color: #A8DCD9;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.signup h1 {
    font-size: 8vw;
    color: #566271;
}

.vertical-center {
    margin:auto;
    padding: 2rem 0 4rem 0;
}

.vertical-center img {
    margin-top: 2em;
}

.jumbotron {
    background: transparent;
    text-align: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.jumbotron img {
    height: 18vw;
    margin-bottom: 4px;
}

.form-group {
    margin: 2vw auto;
    font-family: "St Ryde Light Italic";
    color: #566271;
    line-height: 1.5;
    width: 50vw;
    max-width: 30rem;
}

.form-group p{
    display: block;
}

.form-control {
    margin-bottom: 2vh;
    height: 5vh;
    min-height: 1.5rem;
    font-size: 2vh !important;
}

.flex-input {
    display: flex;
}

#first-name-input,
#username-input {
    margin-right: 1vh;
}

.form-control:focus,
.form-control:active,
.form-control:focus-within,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn:focus-within {
    border: 1px solid #78828f;
    box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25);
}

.btn:hover {
    background-color: #3E4854 !important;   
}

#sign-up-button {
    background-color: #566271 ;
    border: none !important;
    height: 5vh;
    font-size: 2vh;
    line-height: 5vh;
    padding: 0;
    margin: 0;
}

.text-links {
    font-family: "St Ryde light italic";
    margin-top: 2vh;
    font-size: 2vh;
    text-align: left;
    display: flex;
}

/* UPLOAD ====================================================== UPLOAD */

.upload {
    background-color: #A8DCD9;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.fill-screen {
    min-height: 1px;
    flex-grow: 1;
}

a:hover {
    text-decoration: none;
}

.upload h1 {
    font-size: 6vw;
    margin-bottom: .25em;
    color: #566271;
}

.vertical-center {
    margin:auto;
    padding: 2rem 0 4rem 0;
}

.jumbotron {
    background: transparent;
    text-align: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

.btn:hover {
    background-color: #3E4854 !important;   
}

.text-links {
    font-family: "St Ryde light italic";
    margin-top: 2vh;
    font-size: 2vh;
    text-align: left;
    display: flex;
}




