/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
    dark gray: #3E4854
    darker gray: #242C36
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/


.upload-project-form {
    background-color: #A8DCD9;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.upload-project-form h1 {
    font-size: 6vw;
    color: #566271;
}

.vertical-center {
    margin:auto;
    padding: 2rem 0 4rem 0;
}

.jumbotron {
    background: transparent;
    text-align: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

/* .jumbotron img {
    height: 18vw;
    margin-bottom: 4px;
} */

.footer {
    background-color: #F26A21;
    font-family: "St Ryde Bold";
    color: #fff;
    padding: .75vh;
}

.footer a {
    color: #fff;
}

.form-group {
    margin: 2vw auto;
    font-family: "St Ryde Light Italic";
    color: #566271;
    line-height: 1.5;
    width: 50vw;
    max-width: 30rem;
}

.form-group p{
    display: block;
}

.form-control {
    margin-bottom: 2vh;
    height: 5vh;
    min-height: 1.5rem;
    font-size: 2vh !important;
}

.flex-input {
    display: flex;
}

#first-name-input,
#username-input {
    margin-right: 1vh;
}

.form-control:focus, .form-control:active, .form-control:focus-within, .btn:hover, .btn:focus, .btn:active,
.btn:active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, btn:focus-within {
    border: 1px solid #78828f;
    box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25);
}

.btn:hover {
    background-color: #3E4854 !important;   
}

#sign-up-button {
    background-color: #566271 ;
    border: none !important;
    height: 5vh;
    font-size: 2vh;
    line-height: 5vh;
    padding: 0;
    margin: 0;
}

.text-links {
    font-family: "St Ryde light italic";
    margin-top: 2vh;
    font-size: 2vh;
    text-align: left;
    display: flex;
}

/* 
---------------------------------------------
MEDIA QUERIES
---------------------------------------------
*/

@media only screen and (max-width: 768) {


    }
