/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
    dark gray: #3E4854
    darker gray: #242C36
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/


.upload-project-form {
    background-color: #A8DCD9;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.upload-project-form h1 {
    font-size: calc(4vw + 2em);
    color: #566271;
}

.vertical-center {
    margin:auto;
}

.jumbotron {
    background: transparent;
    text-align: center;
    display: flex;
    padding: 0;
    margin-bottom: 0;
}

/* .jumbotron img {
    height: 18vw;
    margin-bottom: 4px;
} */

.form {
    margin: 0;
    padding: 0;
}

.form-group,
.custom-file-input {
    margin: 0 auto;
    font-family: "St Ryde Light Italic";
    color: #566271;
    line-height: 1.5;
    width: 50vw;
    max-width: 30rem;
}

.form-group p{
    display: block;
}

.form-control,
.custom-file-input {
    height: 5vh;
    min-height: 1.5rem;
    font-size: 2vh !important;
}

.flex-input {
    display: flex;
}

.form-control:focus,
.form-control:active,
.form-control:focus-within,
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
btn:focus-within,
.custom:focus
.custom-file-input:focus,
.custom-file-input:active,
.custom-file:focus,
.custom-file:active,
#custom-file:active,
#custom-file:focus {
    border: 1px solid #78828f !important;
    box-shadow: 0 0 0 0.15rem rgba(75, 86, 99, .25) !important;
    outline: none !important;
}

.btn:hover {
    background-color: #3E4854 !important;   
}

#upload-project-button {
    background-color: #566271 ;
    border: none !important;
    height: 5vh;
    font-size: 2vh;
    line-height: 5vh;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "St Ryde Medium";
}

.text-links {
    font-family: "St Ryde light italic";
    margin-top: 2vh;
    font-size: 2vh;
    text-align: left;
    display: flex;
}

/* 
---------------------------------------------
MEDIA QUERIES
---------------------------------------------
*/

@media only screen and (max-width: 768) {


    }
