/*

FONTS 
---------------------------------------------
font-family: "St Ryde Light";
font-family: "St Ryde Light Italic";
font-family: "St Ryde Medium";
font-family: "St Ryde Medium Italic";
font-family: "St Ryde Bold";
font-family: "St Ryde Bold Italic";

COLORS
---------------------------------------------
gray: #566271
    dark gray: #3E4854
    darker gray: #242C36
orange: #F26A21
green: #C6D930
blue: #A8DCD9
red: #C44D58

*/

.functional-navigation {
    padding: 0 .5em 0 2em;;
    background-color: #F26A21 !important;
    border-bottom: 5px solid white;
}

h6 {
    font-family: "St Ryde Medium";
    margin: .6em;
    font-size: 1.25em;
}

.functional-navigation a {
    color: #fff;
}

.functional-navigation img {
    height: 3.75vh;
    min-height: 30px;
    margin: .6em 0em .75em 0;
    opacity: 100% !important;
}

.horizontal-rule {
    height: 5px;
    background-color: white;
}

.nav-link {
    opacity: 50%;
    font-size: calc(.5em + 13px);
    color: #fff !important;
    max-height: calc(.5 * 3);
}

.navigation h6 span:hover {
    padding-bottom: 2px;
    border-bottom: 5px solid #C6D930;
}

.active span {
    opacity: 100% !important;
    color: #fff;
    border-bottom: 5px solid #C6D930;
        padding-bottom: 2px;

}

.navbar-toggler {
    margin: 1vh;
    border: none;
}

.navbar-toggler-icon {
    height: 1.5em;
    width: 1.5em;
    opacity: 75%;
    margin: 0 0 4px 0;
}

.navbar-toggler-icon:focus {
    border-radius: 5px;
    outline: none !important;
    border: none !important;
    box-shadow: 0 0 0 0.2rem rgba(75, 86, 99, .25) !important;
}