/*
FONTS 
    font-family: "St Ryde Light";
    font-family: "St Ryde Light Italic";
    font-family: "St Ryde Medium";
    font-family: "St Ryde Medium Italic";
    font-family: "St Ryde Bold";
    font-family: "St Ryde Bold Italic";

COLORS
    gray: #566271
    orange: #F26A21
    green: #C6D930
    blue: #A8DCD9
    red: #C44D58
*/


.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}